@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: Source Code Pro;
    box-sizing: border-box;
}

html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(rgb(47, 79, 79), rgb(167, 167, 167), rgb(47, 79, 79));
    background-attachment:fixed; 
    height: 100vh;
    background-size: cover;
    background-position: center;
}

/* MENU */
/* Cambiar el color del menu*/
.contenedor-header{
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0.4rem);
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

.contenedor-header header .logo img{
    width: 80px;
}

.contenedor-header header .logo a{
    transform:scale(0.2);
    font-size: 36px;
    color: #fff;
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 15px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    font-size: 125%;
}

/*.nav-responsive{
    background-color: #1CB698;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}*/

/*  FONDO CON RGB !!!!   
.block{
    position: relative;
    margin: 6% auto 0;
    width: 91%;
    height: auto;
    background: linear-gradient(0deg, rgb(117, 117, 117), #000000);
}
.glow::before , .glow::after{
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff,
    #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400% ;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
@keyframes animate {
    0%{
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}

.glow::after{
    filter: blur(40px);
    opacity: 1;
}*/




/*      INICIO        */

/*.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}*/

.inicio{
    background-size: cover;
    height: 85vh;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    max-width: 450px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
    top: 20px;
    position: relative;
}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 5px solid #ffffff;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
}

.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}

/*   ####    REDES     ####       */
.redes{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 90px;
}

.redes ul li{
    display: inline-block;
    margin: 0 5px;
    width: 50px;
    height: 50px;
    text-align: center;
    
}

.redes ul li a{
    display: block;
    padding: 0 5px;
    border: 0px solid #fff;
    color: #fff;
    line-height: 50px;
    font-size: 27px;
    border-radius: 100%;
}

.redes ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    filter: none;
}

.redes ul li .linkedin:hover{
    background-color: #0e76a8;
}

.redes ul li .github:hover{
    background-color: #171515;
}

.redes ul li .gmail:hover{
    background-color: #d61a1a;
}

.inicio button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.inicio button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #bdbdbd8f;
    z-index: -1;
    transition: 1s;
}

.inicio button:hover .overlay{
    width: 100%;
}

/*    ABOUTME     */

.aboutme{
    color: #ffffff; /*color letra*/
    padding: 50px 20px;
}

.aboutme .contenido-seccion{
    margin: auto;
    max-width: 1100px;
}

.aboutme h2{
    font-size: 35px;
    text-align: left;
    padding: 20px 0;
}

.aboutme .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
    padding: 30px;
}

.aboutme .contenido-seccion p span{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
/* SOLO ESTO ES DEL NEON BLANCO*/
.aboutme .contenido-seccion hr{
    background-color: #ffffff;
    height: 10px;
    border-radius: 10px;
    z-index: 2;
    box-shadow: 0 0 10px #ffffff,
    0 0 20px #ffffff,
    0 0 40px #ffffff,
    0 0 80px #ffffff,
    0 0 120px #ffffff;
}


/* SECCION DE SKILLS*/

.skills {
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.skills .contenido-seccion h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}

.skills .contenido-seccion .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap:15px;
}

.contenido-seccion .box-container .box{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #444444;
    text-align: center;
    padding:30px 20px;
}

.contenido-seccion .box-container .box img{
    height: 80px;
}

.contenido-seccion .box-container .box h3{
    color:#ffffff;
    font-size: 22px;
    padding:10px 0;
}

.contenido-seccion .box-container .box p{
    color:#ffffff;
    font-size: 15px;
    line-height: 1.8;
}

.contenido-seccion .box-container .box:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

@media (max-width:768px){
    .container{
        padding:20px;
    }
}
/*       PROYECTOS       */

.proyectos{
    color: #fff;
    padding: 50px 20px;
}

.proyectos .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.proyectos h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}

.proyectos .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.proyectos .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.proyectos .galeria .proyecto img{
    width: 100%;
    display: block;
}

.proyectos .galeria .proyecto .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(189, 189, 189, 0.561), rgba(189, 189, 189, 0.561));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.proyectos .galeria .proyecto .overlay h3{
    margin-bottom: 20px;
    transition: 1s;
}

.proyectos .galeria .proyecto .overlay:hover{
    opacity: 1;
}

.proyectos .galeria .proyecto .overlay:hover h3{
    margin-bottom: 0px;
}

/*  FOOTER    */

footer{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 10px 0px;
    background-color: #33333353;
    border-top: 1px solid rgba(255, 255, 255, 0.381);
    backdrop-filter: blur(30px);
    align-items: center;
    text-align: center;
}

footer .redes{
    margin-bottom: 10px;
}

footer .redes h1{
    color: #fff;
    font-size: 20px;
    text-align: center;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #bdbdbd8f;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
}